# fly.toml app configuration file generated for vakya-web on 2026-01-12T08:49:49+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'vakya-web'
primary_region = 'fra'

[build]

[deploy]
  release_command = "npm run db:migrate"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '2gb'
  cpus = 1
  memory_mb = 2048
